body,html {
    background-image: url("../img/whiteback.jpg");
    /*color: #24292e;*/
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
}
  
  .topnav {
    overflow: hidden;
    background-color:black;
 
  }

  .hopnav {
    overflow: hidden;
    background-color:#979ea6;
 
  }
  .hopnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  


  
  .topnav a {
    float: left;
    color: #9E9E9E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color:white;
  }
  
  .topnav a.act {
    background-color: black;
    color: white;
  }

  .background_1 {
    background-color:#24292e;
  }

  #register_log {
    color: rgba(255,255, 255, 0.6);

  }



  #wrapp {
   
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 500px;
    /* vertical-align: top; */
    float: right;
    margin-right: 30%;
    margin-top: 10%;
    color: white;
    display: inline-block;
   
}
#second {
    min-height: 100%;
    margin-left: 120px;
    overflow: hidden;
    display: inline-block;

}

#center { 
    text-align: center;
}

#user_container {
  text-align: left;
  background-color: white;
  width: auto;
  height: fit-content;
  border: 1px solid black;
  /*margin-top: 100px; */
 

}

#center_reg { 
    display: inline-block;
     border-style: solid;
    background-color: whitesmoke;
    width: 400px;
}

table,tr,td {
  border: 1px solid black;
}

table{
  width:auto;
  border-collapse:collapse;
  text-align:center;
  border:1px solid #00F;
  font-size:12px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }